@model DinoForum.Models.Discussion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Discussion</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DiscussionId" />
            <input type="hidden" asp-for="DinoForumUserId" />
            <input type="hidden" asp-for="ImageFilename" />
            <input type="hidden" asp-for="CreateDate" />
            @if (!String.IsNullOrEmpty(Model.ImageFilename))
            {
                <img src="/images/@Html.DisplayFor(model => model.ImageFilename)" width="250" height="auto" />
            }
            else
            {
                <p>No Image</p>
            }
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
