@model List<DinoForum.Models.Discussion>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var post in Model)
    {
        string imageSrc = Url.Content("/images/" + post.ImageFilename);

        <div style="d-flex">
            <p>@post.Title</p>
            <img style="max-width:300px;" src="@imageSrc" />
        </div>
    }
</div>
